In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(style="whitegrid")
%matplotlib inline

In [3]:
# Data Load
df_loan = pd.read_csv("../data/raw/loan_applications.csv")
df_transaction = pd.read_csv("../data/raw/transactions.csv")

# Display
display(df_loan.head())
display(df_transaction.head())

,application_id,customer_id,application_date,loan_type,loan_amount_requested,loan_tenure_months,interest_rate_offered,purpose_of_loan,employment_status,monthly_income,...,existing_emis_monthly,debt_to_income_ratio,property_ownership_status,residential_address,applicant_age,gender,number_of_dependents,loan_status,fraud_flag,fraud_type
0,c8bf0bea-70e6-4870-9125-41b8210c527f,CUST109427,2023-04-09,Business Loan,604000.0,12,11.66,Medical Emergency,Retired,34700.0,...,1100.0,3.17,Rented,"94/31, Sehgal Zila, Vadodara-380521, Anantapur...",28,Female,3,Approved,0,NaN
1,91224cec-3544-4bc7-ac15-a9792da54c02,CUST106146,2023-09-23,Car Loan,100000.0,240,13.62,Education,Unemployed,51600.0,...,0.0,0.00,Owned,"H.No. 00, Sheth Chowk, Ichalkaranji 006728, Im...",44,Other,3,Approved,0,NaN
2,4efcd02d-4a03-4ab7-9bd1-0ff430493d0c,CUST100674,2023-05-22,Education Loan,431000.0,60,11.40,Medical Emergency,Self-Employed,14800.0,...,4600.0,31.08,Rented,"H.No. 81, Dutta Path, Kozhikode-340301, Tadepa...",56,Other,4,Approved,0,NaN
3,a61337d4-ba04-4a68-b492-2cb8266e6ed7,CUST106466,2024-07-09,Car Loan,324000.0,120,10.36,Debt Consolidation,Self-Employed,28800.0,...,4000.0,13.89,Rented,"H.No. 022, Rege Road, Tiruvottiyur-927857, Aur...",27,Other,4,Declined,0,NaN
4,a8d1639e-170b-41b2-826a-55c7dae38d16,CUST112319,2023-11-20,Personal Loan,100000.0,36,14.14,Business Expansion,Salaried,43900.0,...,1100.0,2.51,Rented,"85/24, Bali Zila, Sambalpur 922071, Tumkur, Ke...",50,Other,0,Declined,0,NaN

,transaction_id,customer_id,transaction_date,transaction_type,transaction_amount,merchant_category,merchant_name,transaction_location,account_balance_after_transaction,is_international_transaction,device_used,ip_address,transaction_status,transaction_source_destination,transaction_notes,fraud_flag
0,2d7ddfd4-1112-4354-a2dd-fad94b45a850,CUST102188,2022-01-04 11:27:00,Bill Payment,2100.0,Dining,"Rattan, Khanna and Magar","Srikakulam, Himachal Pradesh",8211.0,0,Web,31.102.21.141,Success,BCHG80012468703731,Payment for Dining,0
1,ba998721-a612-4e0a-8354-46d001e9c39c,CUST107144,2022-01-03 23:52:00,UPI,1400.0,Travel,Chauhan LLC,"Giridih, Manipur",12858.0,0,Web,176.48.222.166,Success,CJPZ11841095072972,Payment for Travel,0
2,0b4ad8e2-40ac-49c9-b59a-c9efaaccc7a6,CUST102126,2022-01-15 06:54:00,Debit Card,1000.0,Entertainment,Halder-Sarma,"Avadi, Kerala",19268.0,0,ATM,181.62.105.161,Success,TLCG50761416960179,Payment for Entertainment,0
3,c4fce988-34c5-48db-8686-bfad0b3bc0b5,CUST109887,2022-01-08 07:57:00,Credit Card,10500.0,Utilities,"Anand, Khare and Balakrishnan","Navi Mumbai, Maharashtra",29585.0,0,ATM,121.157.246.80,Success,PRZJ55096553432036,Payment for Utilities,0
4,f9b8ca30-00e5-4322-8cff-eac0554cf2da,CUST108620,2022-01-02 10:43:00,Loan Disbursement,8100.0,Electronics,Zacharia and Sons,"Visakhapatnam, Gujarat",0.0,0,ATM,129.96.5.57,Success,NBAI29021393288369,Payment for Electronics,0

In [5]:
# Display basic information about loan and transaction datasets
print("Loan dataset info:")
df_loan.info()
print("\nTransaction dataset info:")
df_transaction.info()

Loan dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   application_id             50000 non-null  object
 1   customer_id                50000 non-null  object
 2   application_date           50000 non-null  object
 3   loan_type                  50000 non-null  object
 4   loan_amount_requested      50000 non-null  float64
 5   loan_tenure_months         50000 non-null  int64
 6   interest_rate_offered      50000 non-null  float64
 7   purpose_of_loan            50000 non-null  object
 8   employment_status          50000 non-null  object
 9   monthly_income             50000 non-null  float64
 10  cibil_score                50000 non-null  int64
 11  existing_emis_monthly      50000 non-null  float64
 12  debt_to_income_ratio       50000 non-null  float64
 13  property_ownership_status  50000 non-null  object
 14  residential_address        50000 non-null  object
 15  applicant_age              50000 non-null  int64
 16  gender                     50000 non-null  object
 17  number_of_dependents       50000 non-null  int64
 18  loan_status                50000 non-null  object
 19  fraud_flag                 50000 non-null  int64
 20  fraud_type                 1026 non-null   object
dtypes: float64(5), int64(5), object(11)
memory usage: 8.0+ MB

Transaction dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 16 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   transaction_id                     50000 non-null  object
 1   customer_id                        50000 non-null  object
 2   transaction_date                   50000 non-null  object
 3   transaction_type                   50000 non-null  object
 4   transaction_amount                 50000 non-null  float64
 5   merchant_category                  50000 non-null  object
 6   merchant_name                      50000 non-null  object
 7   transaction_location               50000 non-null  object
 8   account_balance_after_transaction  50000 non-null  float64
 9   is_international_transaction       50000 non-null  int64
 10  device_used                        50000 non-null  object
 11  ip_address                         50000 non-null  object
 12  transaction_status                 50000 non-null  object
 13  transaction_source_destination     50000 non-null  object
 14  transaction_notes                  50000 non-null  object
 15  fraud_flag                         50000 non-null  int64
dtypes: float64(2), int64(2), object(12)
memory usage: 6.1+ MB

# 1. What kind of data are we dealing with?

We are working with two datasets:
- `loan_applications.csv`: Each row is a **loan application**, with features such as loan type, amount, applicant income, and risk indicators.
- `transaction.csv`: Each row is a **financial transaction**, associated with customers, with transaction type, amount, and a `fraud_flag`.

This structure suggests a 1-to-many relation: one applicant may perform multiple transactions.

# 2. How imbalanced is the fraud target?

In [19]:
df_transaction['fraud_flag'].value_counts(normalize=True)

fraud_flag
0    0.98996
1    0.01004
Name: proportion, dtype: float64

Fraudulent transactions make up only ~1% of the dataset, confirming a strong class imbalance. This will affect model training and requires specific treatment (resampling, class weights, etc.).

# 3. Are frauds associated with higher amounts?